*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    padding: 10px; 
}

#header .logo img{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#header .logo{
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 50px;
}

.nav1 {
    display: flex;
    width: 1100px;
    position: relative;
    top: 20px;
}

.nav2 {
    width: 1100px;
    margin-top: 50px;
    position: relative;
    top: 30px;
    right: 100px;
}

.nav1 ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.nav1 ul li{
    list-style-type: none;
    margin: 5 5px;
    a{
        text-decoration: none;
        color: white;
    }
}

.nav2 ul {
    width: 100%;
    display: flex; 
    list-style: none;
    justify-content: space-evenly;

}

.nav2 ul li{
    list-style-type: none;
    margin: 0 0px;
    a{
        text-decoration: none;
        color: white;
    }
}

.nav2 .shape-contact{
    background-color: white;
    a{
        color: black;
    }
}

/* ###############ontainer############## */

#container .content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: px;
    justify-content: space-evenly;
}

#container .content .case1{
    display: grid;
    width: 600px;
    height: 600px;
    margin-left: 10px;
    justify-content: center;
}

#container .content .case1 h1{
    color: rgb(233, 132, 132);
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

#container .content .case1 h3{
    position: relative;
    bottom: 60px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#container .content .case1 .shape-discover{
    display: grid;
    background-color: white;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    left:197px;
    bottom: 90px;
}

#container .content .case1 .shape-discover a{
    text-decoration: none;
    color: black;
    font-style:normal;
}

#container .content .case2{
    display: grid;
    background-color: aliceblue;
    width: 600px;
    height: 500px;
    padding-top: 10px;
    border-radius: 50px;
}

#container .content .case3{
    display: grid;
    width: 700px;
    height: 500px;
    border-radius: 50px;
    img{
        width: 100%;
    }
}

#container .content .case4{
    margin-top: 60px;
    width: 500px;
    height: 400px;
}

#container .content .case4 h1{
    color: white;
    font-size: 50px;
    text-align: start;
}

#container .content .case4 h3{
    color:rgb(233, 132, 132);
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 30px;
}
